.App {
  background-color: #f8f9fa;
  text-align: center;
  font: Arial-Regular;
  color: #262626;
}

span {
  vertical-align: middle;
}

.TopBar {
  background-color: #00A5E5;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  height: 20px;
}

.CityInfo {
  background-color: white;
}

.CitiesInfoContainer {
  width: 100%;
  padding: 10px;
}

.MainInfoBlock {
  background-color: white;
  width: 100%;
}

.HourReport {
  text-align: center;
  max-width: 500px;
}

.Header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23pt;
  height: 50pt;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
