body {
  background-color: #f8f9fa;
}

.App {
  background-color: #f8f9fa;
  color: #262626;
  --secondary-color: #70757A;
  --border-color: #E6E6E6;
  overflow: hidden;
}

.DropdownContainer {
  padding: 0 12pt 0 12pt;
  width: calc(100% - 24pt);
  margin-bottom: 15px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: white;
  height: 25pt;
}

.Dropdown {
  width: 100%;
  background-color: white;
  border: none;
  outline: 0px;
  font-size: 13pt;
  height: 100%;
}

.CityInfoContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 30px;
}

.TopBar {
  background-color: #00A5E5;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  height: 20px;
}

.CityInfo {
  background-color: white;
}

.CityName {
  font-size: 19pt;
}

.WeatherDescription {
  font-size: 13pt;
  color: var(--secondary-color);
}

.SmallWeatherInfo {
  font-size: 10pt;
  color: var(--secondary-color);
}

.ForecastCollection {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.ForecastBlock:first-child {
  margin-left: 0px;
}

.ForecastBlock {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  flex: 1;
  margin-left: 1%;
}

.ForecastBlockUpper {
  padding: 5px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ForecastBlockLower {
  width: 100%;
  padding: 5px 0px;
  background-color: #E5F6FD;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Date {
  font-size: 15pt;
}

.Clock {
  font-size: 13pt;
  color: var(--secondary-color);
}

.Temperature {
  font-size: 26pt;
}

.SmallTemperature {
  font-size: 15pt;
}

.CitiesInfoContainer {
  width: calc(100% - 20px);
  margin: 10px;
}

.MainInfoBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12pt;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.HourReport {
  text-align: center;
  max-width: 500px;
}

.Header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23pt;
  height: 50pt;
}
